<h1>Réalisation d'un Pokédex avec l'API PokeAPI V2</h1>
<p>Créer une application web qui sert de Pokédex, utilisant l'API PokeAPI V2 pour récupérer et afficher des informations sur les Pokémon.</p>
<h2>API à Utiliser</h2>
<ul>
    <li>Liste des Pokémon : <a href="https://pokeapi.co/api/v2/pokemon">https://pokeapi.co/api/v2/pokemon</a></li>
    <li>Détails d'un Pokémon : <a href="https://pokeapi.co/api/v2/pokemon/1">https://pokeapi.co/api/v2/pokemon/1</a></li>
    <li>Pagination d’une liste : <a href="https://pokeapi.co/api/v2/pokemon?offset=20&limit=20">https://pokeapi.co/api/v2/pokemon?offset=20&limit=20</a></li>
</ul>
<h2>Exigences Fonctionnelles</h2>
<ul>
    <li>Afficher une liste paginée des Pokémon avec leur nom et une image.</li>
    <li>Permettre la recherche de Pokémon par nom avec mise à jour en temps réel des résultats.</li>
    <li>Afficher les détails d'un Pokémon (nom, image, taille, poids, types) lorsqu'on clique sur un Pokémon de la liste.</li>
    <li>Implémenter la pagination pour naviguer à travers les pages de la liste des Pokémon.</li>
</ul>
<h2>Exigences Techniques</h2>
<ul>
    <li>Créer un modèle pour les données des Pokémon.</li>
    <li>Créer un service Angular pour gérer les appels à l'API PokeAPI.</li>
    <li>Créer des composants pour la liste, la recherche, et les détails des Pokémon.</li>
</ul>